version: "3"
services:
  idp:
    image: kenchan0130/simplesamlphp
    container_name: idp
    ports:
      - "8080:8080"
    environment:
      SIMPLESAMLPHP_SP_ENTITY_ID: saml-my
      SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE: http://localhost:4004/saml/login
      SIMPLESAMLPHP_SP_SINGLE_LOGOUT_SERVICE: http://localhost:4004/saml/logout
    volumes:
      - ./cfg/idp/authsources.php:/var/www/simplesamlphp/config/authsources.php
      - ./cfg/idp/saml20-sp-remote.php:/var/www/simplesamlphp/metadata/saml20-sp-remote.php